/* Dark mode. 
https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */
@media (prefers-color-scheme: dark){
		body {color:#fff;background:#000}
		a:link {color:#9cf}
		a:hover, a:visited:hover {color:#cef}
		a:visited {color:#c9f} 
	}

body
{
		margin:1em auto;
		max-width:40em;
		padding:0 .62em;
		font:1.2em/1.62 sans-serif;
}

textarea
{
    width: 100%;
}

label
{
    display: table-cell;
}

input
{
    display: table-cell;
    margin-left: 1.2em;
}

h1
{
    text-align: center;
}

span
{
    display: table-cell;
}

.gappy
{
    margin-bottom: 1.2em;
}

.centered
{
    /*Setting 'display: block' is needed to centre the item*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered_text
{
    text-align:center;
}

/* Spinner: https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  animation: spin 2s linear infinite;
  /*Place under button*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
