<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link href="../static/styles.css" rel="stylesheet"/>
        <title>Web Archiver</title>
    </head>
    <body>
        <h1>Simple Web Archiver</h1>
        <form action="/results" method="post" name="input_form">
                <label>File name prefix: </label> 
                <span><input type="text" name="prefix" class="gappy" value="Cited Reference -"></span>
            <textarea placeholder="Paste a list of URLs here..." name="url_box" rows="10" class="gappy"></textarea> 
            <input id="submit_button" type="submit" value="Generate" class="centered">
        </form>
    <script>
        let form = document.querySelector('[name="input_form"]');
        let button = document.querySelector('#submit_button');
        form.onsubmit = function() {
            button.setAttribute('disabled', true);
        }
    </script>
    </body>
</html>
