<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="../static/styles.css" rel="stylesheet">
        <title>Web Archiver</title>
    </head>
    <body>
        <h1> Simple Web Archiver </h1>
        <form action="/results" method="post">
            <input type="text" name="prefix" class="gappy right"> <br>
                <textarea name="url_box" rows="10" class="centered"> </textarea> <br>
                <input type="submit" value="Submit" class="centered">
        </form>
    </body>
</html>
